@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
:root{
	--soft-white: #f1f6fb;
	--soft-black: #141f23;
	--blue-grey: #202f36;
	--soft-blue: #84d7fe;
	--murky-blue: #52656d;
}

html, body{
	background-color: var(--soft-black);
	color: var(--soft-white);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	overflow-x:hidden;
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#homebar{
	display: flex;
	justify-content: center;
	background: var(--soft-black);
	border-bottom: 2px solid var(--murky-blue);
	color: var(--soft-blue);
}

#logo{
	background: url("images/TempusLogo.png");
	background-size: 50px; 
	background-position: center 115px;
	border-radius: 0.5em;
	height: 55px;
	width: 50px;
	margin: 8px 0 8px 0;
}

#title{
	font-size: 3em;
}

.gradeBtn{
	margin: 7px 2px 5px 2px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: var(--murky-blue);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 2px;
}

.noSelect{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;
	user-select: none; 
}

.front{
	display: block;
	padding: 12px 42px;
	user-select: none;
	border-radius: 12px;
	border: 2px solid var(--soft-blue);
	font-size: 1.25rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background: var(--soft-black);
	color: var(--soft-blue);
	transform: translateY(-6px);
	will-change: transform;
	transition: transform 250ms;
}

.gradeBtn:hover .front {
	transform: translateY(-8px);
}

.gradeBtn:active .front {
	transform: translateY(-2px);
	border-color: #89e219;
}

#gradeDetails{
	display: flex;
	flex-direction: column;
	
	border: 1px solid var(--murky-blue);
	margin: 20px 0 20px 0;
	border-radius: 0.5em;
	background: #202f36;
	display: flex;
	column-gap: 10px;
	width: 365px;
	min-height: 625px;
	height: auto;
}

#gradeBtns{
	margin-left: 15px;
	animation: fadeIn 1.5s;
}

#mainArea{
	display: flex;
	justify-content: center;
	animation: fadeIn 0.5s;
}

#lessonArea{
	display: none;
	border: 1px solid var(--murky-blue);
	border-radius: 0.5em;
	background: #202f36;
	margin: 20px 0 20px 20px;
	width: calc(100% - 425px);
	animation: fadeIn 1.5s;
}

#backBtn2{
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	display: none;
	width: 30px;
	height: 30px;
	background-position: center;
	background: url("images/cross.png");
	opacity: 15%;
	border: none;
	background-size: 30px;
}

#loadLessonPicture{
	background: url("images/check-circle.png");
	background-size: 100px;
	margin: auto;
	margin-top: 210px;
	opacity: 50%;
	height: 100px;
	width: 100px;
}

#lessonAreaH1{
	text-align: center;
	font-size: 1.6em;
	opacity: 60%;
	margin: 0;
}

#lessonArea>h3{
	text-align: center;
	font-size: 0.92em;
	opacity: 60%;
	margin: 0;
}

#miniNavTitle{
	text-align: center;
	border-bottom: 2px solid var(--soft-blue);
	height: 105px;
	margin-bottom: 15px;
	animation: fadeIn 1.5s;
}

#miniNavTitle>h2{
	font-size: 2.2em;
	margin: 12px 0 0 0;
}

#miniNavTitle>h4{
	font-size: 1em;
	margin: 0;
}

#pianoFooter{
	margin-top: auto;
	height: 60px;
	background: url("images/pianoFooter1.png");
	opacity: 10%;
	background-size: 200px;
	background-position: center 115px;
}

#gradeFlowChart{animation: fadeIn 1.5s;}

.lessonSelectData{
	display: flex;
	height: 55px;
	color: var(--soft-white);
	background: var(--soft-black);
	border: 1px solid #3f85a6;
	border-radius: 0.5em;
	margin: 5px 10px 0 10px;
}

.lessonSelectData:hover{
	color: #89e219;
	cursor: pointer;
}

.lessonCode{
	font-size: 1.7em;
	padding: 8px 8px 0 10px;
	border-right: 2px dashed #3f85a6;
}

.lessonDesc{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	vertical-align: bottom;
	padding-right: 20px;
	margin-left: 10px;
	line-height: 20px;
	color: var(--soft-white);
}

.lessonDesc>span{
	display: inline-block;
	vertical-align: middle;
}

#backBtn{
	position: absolute;
	margin-top: -110px;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	background-position: center;
	background: url("images/cross.png");
	opacity: 15%;
	border: none;
	background-size: 30px;
}

#lineEl{
	border-top: 2px solid var(--soft-blue);
	margin-top: 10px;
	padding: 10px;
	color: #1db0f5;
	animation: fadeIn 1.5s;
}

#imgCaption{
	display: flex;
	margin: 15px auto 15px auto;
	width: 400px;
	animation: fadeIn 1.5s;
}

#pictureEl{
	width: 115px;
	height: 100px;
	padding: 5px;
	border: 4px solid var(--soft-blue);
	border-radius: 1em;
	background: #3f85a6;
	animation: fadeIn 1.5s;
}

#infoEl{
	margin-left: 10px;
	height: 90px;
	color: var(--soft-blue);
	font-size: 1em;
	line-height: 1.4em;
	border: 4px solid #3f85a6;
	padding: 10px;
	padding-left: 17px;
	border-radius: 1em;
	background: var(--soft-black);
	animation: fadeIn 1.5s;
}

#titleEl{
	font-size: 2em;
	margin: 0 0 0 10px;
	animation: fadeIn 1.5s;
}

#textEl{
	margin: 10px;
	margin-top: 5px;
	animation: fadeIn 1.5s;
}

#eLogo{
	background: url("images/TempusLogo.png");
	background-size: 80px;
	margin: auto;
	width: 85px;
	height: 100px;
	animation: fadeIn 1.5s;
}

#eTitle{
	font-size: 1.7em;
	text-align: center;
	animation: fadeIn 1.5s;
}

#eDesc{
	text-align: center;
	animation: fadeIn 1.5s;
}

#musicContainer{
	width: 420px;
	margin: 10px auto 10px auto;
	color: var(--soft-blue);
	font-size: 1em;
	line-height: 1.4em;
	border: 4px solid #3f85a6;
	border-radius: 1em;
	background: var(--soft-white);
	animation: fadeIn 1.5s;
	transform: scale(95%);
}

#audioPlayer{
	display: flex;
	margin: 5px; 
	padding: 5px;
	border: 4px solid #3f85a6;
	border-radius: 0.5em;

	background: var(--soft-black);
}

#durationBar{
	width: 100%;
}

#audioPlayer input[type="range"] {
	box-sizing: border-box;
	appearance: none;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	background: 0;
}

#audioPlayer input[type=range]::-webkit-slider-runnable-track {
	background: url("images/musicBar.png");
	background-size: 92px;
	height: 100%;
	border: 1px solid var(--soft-blue);
	border-left: 5px solid var(--soft-blue);
}
#audioPlayer input[type=range]::-moz-range-track {
	background: url("images/musicBar.png");
	background-size: 64px;
	height: 100%;
	border: 1px solid var(--soft-blue);
	border-left: 5px solid var(--soft-blue);
}

#audioPlayer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: scale(1.2); 
	width: 25px; height: 35px;
    border: 3px solid var(--soft-blue);
    border-radius: 0.4em;
	background: var(--soft-white) url("images/trebleClef.png");
	background-position-x: 26px;
	background-size: 30px;
}

#audioPlayer input[type=range]::-moz-range-thumb {
	width: 20px; height: 30px;
	border: 3px solid var(--soft-blue);
	background: var(--soft-white) url("images/trebleClef.png");
	background-position-x: 27px;
	background-size: 30px;
}

input[type=range]:focus {
    outline: none;
}

#aCron{
	width: 130px;
	text-align: center;
	margin: auto;
	margin-left: 5px; 
}

#aPlay{
	background: none;
	border: none;
	margin: auto;
	padding-left: 0;
	height: 22px;
}

#aPlayIco{
	color: var(--soft-blue);
	font-size: 30px;
	line-height: 20px;
	margin: auto;
	-webkit-transform: scale(1.3); 
}

@media only screen and (max-width: 850px){
	#lessonArea{
		width: 100%;
		margin: 0;
		border-radius: 0;
		transform: scale(100%);
	}
	#imgCaption{
		transform: scale(90%);
	}
	#musicContainer{
		transform: scale(85%);
	}
	#mainArea{
		width: 100%;
	}
	#homebar{
		display: none;
	}
	#aCron{
		width: 110px;
		margin: auto;
		margin-left: 5px;
		text-align: center;
		font-size: 0.8em;
  	}
}

@media only screen and (max-width: 420px){
	#imgCaption{
		margin-left: calc(50% - 200px);
	}
	#musicContainer{
		margin-left: calc(50% - 214px);
	}
	#gradeDetails{
		margin-top: calc(98.5% - 365px);
	}
}

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
