@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
:root{
	--soft-white: #f1f6fb;
	--soft-black: #141f23;
	--blue-grey: #202f36;
	--soft-blue: #84d7fe;
	--murky-blue: #52656d;
}

html, body{
	background-color: var(--soft-black);
	color: var(--soft-white);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin: 0;
	padding: 0;
}

#homebar{
	display: flex;
	justify-content: center;
	background: var(--soft-black);
	border-bottom: 2px solid var(--murky-blue);
	color: var(--soft-blue);
}

#logo{
	background: url(TempusLogo.png);
	background-size: 50px; 
	background-position: center 115px;
	border-radius: 0.5em;
	height: 55px;
	width: 50px;
	margin: 8px 0 8px 0;
}

#title{
	font-size: 3em;
}

.gradeBtn{
	margin: 7px 2px 5px 2px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	background: var(--murky-blue);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 2px;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;
	user-select: none; 
}

.front {
	display: block;
	padding: 12px 42px;
	user-select: none;
	border-radius: 12px;
	border: 2px solid var(--soft-blue);
	font-size: 1.25rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background: var(--soft-black);
	color: var(--soft-blue);
	transform: translateY(-6px);
	will-change: transform;
	transition: transform 250ms;
}

.gradeBtn:hover .front {
	transform: translateY(-8px);
}

.gradeBtn:active .front {
	transform: translateY(-2px);
	border-color: #89e219;
}

#gradeDetails{
	display: flex;
	flex-direction: column;
	
	border: 1px solid var(--murky-blue);
	margin: 20px 0 20px 0;
	border-radius: 0.5em;
	background: #202f36;
	display: flex;
	column-gap: 10px;
	width: 365px;
	min-height: 625px;
	height: auto;
}

#gradeBtns{
	margin-left: 15px;
	animation: fadeIn 1.5s;
}

#mainArea{
	display: flex;
	justify-content: center;
}

#lessonArea{
	border: 1px solid var(--murky-blue);
	border-radius: 0.5em;
	background: #202f36;
	margin: 20px 0 20px 20px;
	width: calc(100% - 425px);
}

#loadLessonPicture{
	background: url("check-circle.png");
	background-size: 100px;
	margin: auto;
	margin-top: 210px;
	opacity: 50%;
	height: 100px;
	width: 100px;
}

#lessonAreaH1{
	text-align: center;
	font-size: 1.6em;
	opacity: 60%;
	margin: 0;
}

#lessonArea>h3{
	text-align: center;
	font-size: 0.92em;
	opacity: 60%;
	margin: 0;
}

@media only screen and (max-width: 799px){
	#lessonArea{display: none;}
}

#miniNavTitle{
	text-align: center;
	border-bottom: 2px solid var(--soft-blue);
	height: 105px;
	margin-bottom: 15px;
	animation: fadeIn 1.5s;
}

#miniNavTitle>h2{
	font-size: 2.2em;
	margin: 12px 0 0 0;
}

#miniNavTitle>h4{
	font-size: 1em;
	margin: 0;
}

#pianoFooter{
	margin-top: auto;
	height: 60px;
	background: url(pianoFooter1.png);
	opacity: 10%;
	background-size: 200px;
	background-repeat: repeat-x round;
	background-position: center 115px;
}

#gradeFlowChart{animation: fadeIn 1.5s;}

.lessonSelectData{
	display: flex;
	height: 55px;
	color: var(--soft-white);
	background: var(--soft-black);
	border: 1px solid #3f85a6;
	border-radius: 0.5em;
	margin: 5px 10px 0 10px;
}

.lessonSelectData:hover{
	color: #89e219;
	cursor: pointer;
}

.lessonCode{
	font-size: 1.7em;
	padding: 8px 8px 0 10px;
	border-right: 2px dashed #3f85a6;
}

.lessonDesc{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	vertical-align: bottom;
	padding-right: 20px;
	margin-left: 10px;
	line-height: 20px;
	color: var(--soft-white);
}

.lessonDesc>span{
	display: inline-block;
	vertical-align: middle;
}

#backBtn{
	position: absolute;
	margin-top: -110px;
	margin-left: 15px;
	width: 30px;
	height: 30px;
	background-position: center;
	background: url("cross.png");
	opacity: 15%;
	border: none;
	background-size: 30px;
}

#lineEl{
	border-top: 2px solid var(--soft-blue);
	margin-top: 10px;
	padding: 10px;
	color: #1db0f5;
}

#titleEl{
	font-size: 2em;
	margin: 0 0 0 10px;
}

#textEl{
	margin: 10px;
	margin-top: 5px;
}

#eLogo{
	background: url(TempusLogo.png);
	background-size: 80px;
	margin: auto;
	width: 85px;
	height: 100px;
}

#eTitle{
	font-size: 1.7em;
	text-align: center;
}

#eDesc{
	text-align: center;
}

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
